@layer base {
  :root {
    --color-primary: #b86a4b;
    --color-secondary: #b86a4b;
    --color-light: #f7f9fa;

    --color-gold: #f7e9cf;
    --color-gold-light: #fcf6e9;
    --color-gold-lighter: #f7e9cf;
    --color-gold-dark: #ffa849;
    --color-gold-darker: #834c1f;
  }

  html {
    @apply tw-font-sans tw-text-white tw-antialiased;
    @apply tw-overflow-hidden;
  }

  ::-webkit-scrollbar {
    @apply tw-w-2;
    @apply tw-h-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply tw-bg-gold tw-rounded-md;
  }

  svg {
    display: initial;
  }
}
